# Python
__pycache__/
*.py[cod]
*.sqlite3
*.env
*.log

# Django migrations
**/migrations/
!**/migrations/__init__.py

# VS Code
.vscode/

# System
.DS_Store
Thumbs.db

# Render & venv
venv/
env/
build/
staticfiles/

# Secrets
.env
